[Desktop Entry]
Encoding=UTF-8
Name=Link to DCMI Metadata Terms
Type=Link
URL=http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=elements#title
Icon=text-html
