[Desktop Entry]
Encoding=UTF-8
Name=Link to Introduction to RAP
Type=Link
URL=http://wifo5-03.informatik.uni-mannheim.de/bizer/rdfapi/tutorial/introductionToRAP.htm#generalConcepts
Icon=text-html
