[Desktop Entry]
Encoding=UTF-8
Name=Link to RAP - RDF API for PHP Documentation
Type=Link
URL=http://wifo5-03.informatik.uni-mannheim.de/bizer/rdfapi/tests.html
Icon=text-html
