[Desktop Entry]
Encoding=UTF-8
Name=Link to Test Manipulate RDF Model
Type=Link
URL=http://wifo5-03.informatik.uni-mannheim.de/bizer/rdfapi/tests/Test_Manipulate_MemModel.htm
Icon=text-html
