[Desktop Entry]
Encoding=UTF-8
Name=Link to 16. RDF Data Access and Data Management
Type=Link
URL=http://docs.openlinksw.com/virtuoso/rdfsparql.html#rdfsupportedprotocolendpointuri
Icon=text-html
