[Desktop Entry]
Encoding=UTF-8
Name=Link to Dead Simple: RDF and SPARQL using PHP : blog.literarymachine.net
Type=Link
URL=http://blog.literarymachine.net/?p=5
Icon=text-html
