[Desktop Entry]
Encoding=UTF-8
Name=Link to Function: DB.DBA.TTLP_MT - Virtuoso Functions Guide
Type=Link
URL=http://docs.openlinksw.com/virtuoso/fn_ttlp_mt.html
Icon=text-html
