[Desktop Entry]
Encoding=UTF-8
Name=Link to Redland librdf RDF API Library - PHP Interface
Type=Link
URL=http://librdf.org/docs/php.html
Icon=text-html
