[Desktop Entry]
Encoding=UTF-8
Name=Link to SPARQL Guide for the PHP Developer
Type=Link
URL=http://www.openlinksw.com/dataspace/kidehen@openlinksw.com/weblog/kidehen@openlinksw.com%27s%20BLOG%20%5B127%5D/1652
Icon=text-html
