@charset "UTF-8";
* {
	margin:0;
	padding:0;
	border:0;
}
/* ----------------- Website background and general text colour ----------------- */
body {
	background-image:url(../images/backgroundtexture.png);
	background-color:#f9f9f9;
	color:#2d2d2d;

	line-height: 1.6em;
}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}

.clearfix:before, .clearfix:after{content:""; display:table;}
.clearfix:after{clear: both;}
.clearfix{zoom:1;/* For IE 6/7 (trigger hasLayout) */}

/* ----------------- Wrapper - keeps all content in the center of page -----------------  */
.wrapper {
	display:block;
	width:80%;
	height:auto;
	margin:auto;
	overflow:hidden;
}
/* The rest is pretty self explanatory - it appears in the order that it occurs on the HTML document */
#top {
	display:block;
	width:100%;
	padding-bottom:30px;
	border-bottom:1px solid #2d2d2d;
	
}
#logo {
	margin-top:5%;
	text-decoration:none;
}
#logoimage {
	width:27px;
	padding-right:10px;
	float:left;
}
#logotitle {
	float:left;
	font-family:Cookie, Helvetica, sans-serif;
	font-weight:normal;
	font-size:215%;
	text-shadow: 0 1px 1px #FFF;
}
#logotitle a {
	color:#2d2d2d;
	text-decoration:none;
}
nav {
	float:right;
	display:block;
	height:40px;
}
nav ul li {
	display:inline;
	margin-right:30px;
}
nav ul li:last-child {
	margin-right:0;
}
nav ul li a {
	font-family:Lato, Helvetica, Arial, sans-serif;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:400;
	line-height:250%;
	
	color:#2d2d2d;
}
nav ul li a:hover {
	color:#f38094;
}
nav ul li p {
	font-family:Lato, Helvetica, Arial, sans-serif;
	width:90%;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:400;
	line-height:250%;
	display:block;
	color:#f38094;
}
hr {
	height:1px;
	width:100%;
	background-color:#2d2d2d;
	margin:3% 0;
}
header {
	width:100%;
	margin:5% 0;
}
header h1, header h2, header p{
	font-family: Lato, Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
	margin-bottom:1%;
}
header h1 {
	font-size:140%;
	letter-spacing:1px;
	margin-bottom:1%;
}
header h1 span {
	color:#f38094;
	text-shadow: 0 1px 1px #dadada;
}
header h2 {
	font-size:100%;
}
header p {
	margin-borrom:0;
}
#slideshow {
	display:block;
	width:100%;
	margin-top:2%;
}

/*------------------------- Tree View-----------------*/
 ul.tree, ul.tree ul {
 list-style-type: none;
 background: url(vline.png) repeat-y;
 margin: 0;
 padding: 0;
 }
 ul.tree ul {
 margin-left: 10px;
 } 
 ul.tree li {
margin: 0;
 padding: 0 12px;
 line-height: 20px;
 background: url(node.png) no-repeat;
 color: #369;
 font-weight: bold;
 }
 
/* - - - - - - - - - - - - - - -  Slider START  - - - - - - - - - - - - - - - */

.html_carousel {
}
.html_carousel div.slide {
	position: relative;
}
.html_carousel div.slide img {
	-webkit-box-shadow: 0 1px 1px #c1c1c1;
	-moz-box-shadow: 0 1px 1px #c1c1c1;
	box-shadow: 0 1px 1px #c1c1c1;
	border-radius:15px;
}
.clearfix {
	display:block;
	clear:both;
}

/* ----------------------- WORKBODY ------------------------- */

#workbody{
	width:100%;
	margin-top:2%;
}

#workbody img{
	width:100%;
	border-radius:15px;
}

#workbody h5{
	border-radius:0 0 15px 15px;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#2d2d2d;
	margin:10px 0 6% 5px;
}
/* - - - - - - - - - - - - - - -  Slider END  - - - - - - - - - - - - - - - */

.search {
	margin-top:4%;
	
	/*float:left;*/
	margin-bottom:2%;
}
.search h3 {
	font-family:Cookie, Arial, Helvetica, sans-serif;
	font-size:180%;
	font-weight:normal;
	text-align:center;
	color:#f38094;
	margin-bottom:5%;
	text-shadow: 0 1px 1px #dadada;
}
.search p {
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:140%;
}
.search p a {
	color:#f38094;
	text-decoration:none;
}/*
.right {
	margin-top:4%;
	width:48%;
	float:right;
	margin-bottom:2%;
}
.right h3 {
	font-family:Cookie, Arial, Helvetica, sans-serif;
	font-size:180%;
	font-weight:normal;
	text-align:center;
	color:#f38094;
	margin-bottom:5%;
	text-shadow: 0 1px 1px #dadada;
}
.right p {
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:140%;
}
.right p a {
	color:#f38094;
	text-decoration:none;
}*/

/* ----------------------- WORK LINKS START ------------------------- */
#work {
	width:1000px;
	margin:3% auto 3% auto;
}
.item {
	border-radius:15px;
	width:180px;
	height:185px;
	background-color:#FFF;
	margin:10px;
	float:left;
	-webkit-box-shadow: 0 1px 3px #c3c3c3;
	-moz-box-shadow: 0 1px 3px #c3c3c3;
	box-shadow: 0 1px 3px #c3c3c3;
	overflow:hidden;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	-ms-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}
.item:hover {
	-webkit-box-shadow: 0 0 8px #f38094, 0 0 8px #f38094;
	-moz-box-shadow: 0 0 8px #f38094, 0 0 8px #f38094;
	box-shadow: 0 0 8px #f38094, 0 0 8px #f38094;
}
.item img {
	display:block;
	width:100%;
	-webkit-box-shadow: 0 2px 1px #c3c3c3;
	-moz-box-shadow: 0 2px 1px #c3c3c3;
	box-shadow: 0 2px 1px #c3c3c3;
	border-radius:15px 15px 0 0;
	opacity:0.8;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.item img:hover {
	opacity:1;
}
.item h3 {
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:105%;
	font-weight:normal;
	padding:5px 0 0 8px;
	color:#2d2d2d;
	text-decoration:none;
}
.item h3 a {
	text-decoration:none;
	color:#2d2d2d;
}
.item p {
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:70%;
	font-weight:normal;
	padding:0 0 0 8px;
	color:#f38094;
	text-decoration:none;
}
/* ----------------------- WORK LINKS END ------------------------- */


#bottom h3 {
	margin:4% 0 3% 0;
	font-family:Cookie, Arial, Helvetica, sans-serif;
	font-size:190%;
	font-weight:normal;
	text-align:center;
	color:#f38094;
	text-shadow: 0 1px 1px #c1c1c1;
}
footer {
	width:100%;
	padding:10px 0;
	/*background-color:rgba(255, 255, 255, 1);
	background-image:url(../images/backgroundtexture.png);*/
	border-style:solid;
	border-color:rgb(45, 45, 45);
	border-top-width:2px;

}

.icon {
	float:right;
	width:32px;
	margin:95px 0 2px 4%;
	opacity:0.85;
}
.icon:hover {
	opacity:1;
}
.social {
	color:#f38094;
}
/* ----------------------------- FORM ----------------------------------- */

.search h4 {
	font-family:Cookie, Arial, Helvetica, sans-serif;
	font-size:140%;
	font-weight:normal;
	color:#f38094;
	margin-bottom:10px;
}
#formwrap {
	width:100%;
}
.formstyle {
	border: 1px solid #ccc;
	color: #000;
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:14px;
	width: 95%;
	background-color:rgba(255, 255, 255, 1);
	background-image:url(../images/backgroundtexture.png);
	margin-bottom:10px;
	opacity:0.9;
	padding:3px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius:2px;
}
.formstyletwo {
	color: #fff;
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:15px;
	text-align:left;
	width:20%;
	background-color:f38094;
	border:0px;
}
.formstyletwo:hover {
	color:#f38094;
	cursor:pointer;
}
textarea {
	border: 1px solid #ccc;
	color: #000;
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:14px;
	width:95%;
	height:80px;
	background-color:rgba(255, 255, 255, 1);
	background-image:url(../images/backgroundtexture.png);
	margin-bottom:10px;
	border-radius:2px;
	padding:3px;
	opacity:0.9;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
input:focus, input.focused, textarea:focus, textarea.focused {
	color: #3e3e3e;
	opacity:1;
}
#error {
	color:#FF7471;
	float:left;
	font-family:Regular, Arial, Helvetica, sans-serif, "Helvetica Neue Light";
	font-size:15px;
}
#error ul {
	list-style-type: none;
	padding-top:5px;
}
	

/* -- Make the highlight colours pretty -- */
::selection {
	background:#f38094;
	color:#FFF;
}
::-moz-selection {
	background:#f38094;
	color:#FFF;
}

/* - - - - - - - - - - - - - - -  Copyright  - - - - - - - - - - - - - - - */

#footer section{margin-bottom:0px;}

#footer #copyright{display:block; width:100%; margin:0; padding:0; color:#FFF; font-family:Lato, Arial, Helvetica, sans-serif; font-size:.8em; line-height:140%;}

#footer #copyright .left, #footer #copyright .right {width:auto; margin:0;}
#footer #copyright .left {float:left;}
#footer #copyright .right {float:right;}

#footer #copyright, #footer #copyright a {
	color:#f38094;
	text-decoration:none;
}
/******************************************
 * CUSTOMIZE CLOUD CSS BELOW (optional)
 */
#htmltagcloud{


	font-size: 100%;
	width: auto;		/* auto or fixed width, e.g. 500px   */
	font-family:'lucida grande','trebuchet ms',arial,helvetica,sans-serif;
	background-color:#fff;
	margin:1em 1em 0 1em;
	border:2px dotted #ddd;
	padding:2em; 
	}
	
}#htmltagcloud{
line-height:2.4em;
word-spacing:normal;
letter-spacing:normal;
text-transform:none;
text-align:justify;
text-indent:0
}
/**css below is from tagcloud website, autogenerated visit http://tagcrowd.com/ is quicker than editing words */
#htmltagcloud a:link{text-decoration:none}#htmltagcloud a:visited{text-decoration:none}#htmltagcloud a:hover{color:white;background-color:#05f}#htmltagcloud a:active{color:white;background-color:#03d}.wrd{padding:0;position:relative}.wrd a{text-decoration:none}.tagcloud0{font-size:1.0em;color:#ACC1F3;z-index:10}.tagcloud0 a{color:#ACC1F3}.tagcloud1{font-size:1.4em;color:#ACC1F3;z-index:9}.tagcloud1 a{color:#ACC1F3}.tagcloud2{font-size:1.8em;color:#86A0DC;z-index:8}.tagcloud2 a{color:#86A0DC}.tagcloud3{font-size:2.2em;color:#86A0DC;z-index:7}.tagcloud3 a{color:#86A0DC}.tagcloud4{font-size:2.6em;color:#607EC5;z-index:6}.tagcloud4 a{color:#607EC5}.tagcloud5{font-size:3.0em;color:#607EC5;z-index:5}.tagcloud5 a{color:#607EC5}.tagcloud6{font-size:3.3em;color:#4C6DB9;z-index:4}.tagcloud6 a{color:#4C6DB9}.tagcloud7{font-size:3.6em;color:#395CAE;z-index:3}.tagcloud7 a{color:#395CAE}.tagcloud8{font-size:3.9em;color:#264CA2;z-index:2}.tagcloud8 a{color:#264CA2}.tagcloud9{font-size:4.2em;color:#133B97;z-index:1}.tagcloud9 a{color:#133B97}.tagcloud10{font-size:4.5em;color:#002A8B;z-index:0}.tagcloud10 a{color:#002A8B}.freq{font-size:10pt !important;color:#bbb}#credit{text-align:center;color:#333;margin-bottom:0.6em;font:0.7em 'lucida grande',trebuchet,'trebuchet ms',verdana,arial,helvetica,sans-serif}#credit a:link{color:#777;text-decoration:none}#credit a:visited{color:#777;text-decoration:none}#credit a:hover{color:white;background-color:#05f}#credit a:active{text-decoration:underline}// -->

/* ---------------------- RESPONSIVE STUFF - ONLY TOUCH IF YOUR'E CONFIDENT WITH CSS ---------------------- */

@media only screen and (max-width: 1279px) {
	.wrapper{
		max-width:960px;
	}
	
}

@media only screen and (max-width: 1105px) {
	#work{
		width:900px;
		}
	.item{
		width:164px;
		height:170px;
		margin:8px;
	}
}

@media only screen and (max-width: 999px) {
	#work{
		width:750px;
		}
	.item{
		width:136px;
		height:144px;
		margin:7px;
	}
	.item h3{
		font-size:90%;
	}
	.item p{
		font-size:60%;
	}
}

@media only screen and (max-width: 835px) {
	#work{
		width:650px;
		}
	.item{
		width:116px;
		height:121px;
		margin:7px;
	}
	.item h3{
		font-size:75%;
	}
	.item p{
		font-size:40%;
	}
}

@media only screen and (max-width: 860px) {
	header h1{
		font-size:110%;
	}
	header h2{
		font-size:80%;
	}
}

@media only screen and (max-width: 720px) {
	#logo {
		display:block;
		margin-bottom:15px;
		float:none;
		text-align:center;
	}
	nav {
		display:block;
		width:100%;
		float:none;
		clear:both;
	}
	header h1 {
		font-size:100%;
		margin-bottom:5%;
	}
	header h2 {
		font-size:60%;
	}
	#footer .left, #footer .right, #footer #copyright .left, #footer #copyright .right{
		display:block;
		width:100%;
		float:none;
		clear:both;
	}
	#footer .left {
		margin-bottom:50px;
	}
	.social .icon {
		display:inline-block;
		float:left;
		width:32px;
		margin:0 4% 25px 0;
	}
	#work {
		width:460px;
	}
	.item {
		width:210px;
		height:215px;
		margin:10px;
	}
	.item h3 {
		font-size:130%;
	}
	.item p {
		font-size:90%;
	}
}

@media only screen and (max-width: 510px) {
	#work{
		width:300px;	
	}
	.item{
		width:136px;
		height:140px;
		margin:7px;
	}
	.item h3{
		font-size:75%;
	}
	.item p{
		font-size:40%;
	}
}
/* Table css from http://coding.smashingmagazine.com/2008/08/13/top-10-css-table-designs/*/
#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 80%;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: rgb(243, 128, 148);
	padding: 10px 8px;
	border-bottom: 2px solid #2d2d2d;
}
#hor-minimalist-a td
{
	color: #2d2d2d;
	padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: rgb(243, 128, 148);
}


#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}
