[Desktop Entry]
Encoding=UTF-8
Name=Link to Ajax and the Semantic Web at Frederick Giasson’s Weblog
Type=Link
URL=http://fgiasson.com/blog/index.php/2005/09/26/ajax_and_the_semantic_web/
Icon=text-html
