[Desktop Entry]
Encoding=UTF-8
Name=Link to Bio2RDF - Bioinformatics.Org Wiki
Type=Link
URL=http://www.bioinformatics.org/wiki/Bio2RDF
Icon=text-html
