[Desktop Entry]
Encoding=UTF-8
Name=Link to Function: DB.DBA.RDF_LOAD_RDFXML_MT - Virtuoso Functions Guide
Type=Link
URL=http://docs.openlinksw.com/virtuoso/fn_rdf_load_rdfxml_mt.html
Icon=text-html
