[Desktop Entry]
Encoding=UTF-8
Name=Link to Virtuoso Open-Source Wiki : RDF Insert Methods in Virtuoso
Type=Link
URL=http://virtuoso.openlinksw.com/dataspace/dav/wiki/Main/VirtRDFInsert
Icon=text-html
