[Desktop Entry]
Encoding=UTF-8
Name=Link to RDFWeb: SVG-Semantics: "PICS NG" Demo
Type=Link
URL=http://rdfweb.org/2002/svgsemantics/picsng-demo.html
Icon=text-html
