[Desktop Entry]
Encoding=UTF-8
Name=Link to Simple Virtuoso Installation & Utilization Guide for SPARQL Users (Update 5)
Type=Link
URL=http://www.openlinksw.com/dataspace/kidehen@openlinksw.com/weblog/kidehen@openlinksw.com%27s%20BLOG%20%5B127%5D/1647
Icon=text-html
