[Desktop Entry]
Encoding=UTF-8
Name=Link to Thank You, Porn! 12 Ways the Sex Trade Has Changed the Web | PCWorld
Type=Link
URL=http://www.pcworld.com/article/155745/porn_on_the_web.html
Icon=text-html
