[Desktop Entry]
Encoding=UTF-8
Name=Link to Virtuoso Universal Server - Wikipedia, the free encyclopedia
Type=Link
URL=http://en.wikipedia.org/wiki/Virtuoso_Universal_Server
Icon=text-html
