[Desktop Entry]
Encoding=UTF-8
Name=Link to Waterfall Model Advantages and Disadvantages
Type=Link
URL=http://www.buzzle.com/articles/waterfall-model-advantages-and-disadvantages.html
Icon=text-html
